.bookDiscountDetailsContainer {
  border-size: 2px;
  border-style:solid;
  border-color: #607D8B;
  border-radius: 4px;
  background: #EEE;
  padding: 5px;
}

.bookDiscountInfoLineContainer {
  padding: 1px;
}

img {
  height: 400px;
  width: 300px;
  margin-left: 35px;
}

#linesContainer {
  float: left;
}
