<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
  <div class="container justify-content-center">
    <div class="row">
      <h1>{{title}}</h1>
    </div>
    <br />
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <h2>My Discount Library</h2>
  </div>
  <div class="row justify-content-center">
    <input type="text" #titleInput (keypress)='searchEvent(titleInput.value, priceFromSlider.value, priceToSlider.value, currentGenre, currentSort)'>
    <button class="btn" type="submit" (click)='searchEvent(titleInput.value, priceFromSlider.value, priceToSlider.value, currentGenre, currentSort)'>Search</button>
  </div>
  <div class="row justify-content-center">
    <input type=range #priceFromSlider max='{{this.priceTo}}' value='0' (input)='updatePriceFrom(priceFromSlider.value)' />
    <label class="range-slider-label">{{this.priceFrom}}</label>
    <input type=range #priceToSlider min='{{this.priceFrom}}' max='{{this.maxPriceTo}}' value='{{this.maxPriceTo}}' (input)='updatePriceTo(priceToSlider.value)' />
    <label class="range-slider-label">{{this.priceTo}}</label>
  </div>
  <div class="row justify-content-center">
    <select #genreSelector [(ngModel)]="currentGenre">
      <option *ngFor="let genre of genres" (change)="selectGenre(genre.name)">{{genre.name}}</option>
    </select>
  </div>
  <div class="row justify-content-center">
    <select #sortSelector [(ngModel)]="currentSort">
      <option *ngFor="let sortColumn of sortColumns" (change)="selectSort(sortColumn)">{{sortColumn}}</option>
    </select>
  </div>
  <div class="row justify-content-center">
    <button class="btn" type='submit' (click)='searchEvent(titleInput.value, priceFromSlider.value, priceToSlider.value, currentGenre, currentSort)'> check! </button>
  </div>
</div>
<br />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <label> Page {{bookService.getCurrentPage()}} from {{bookService.getTotalPages()}}</label>
      <button class="btn" type="submit" (click)='previousPage(titleInput.value)'> < </button>
      <button class="btn" type="submit" (click)='nextPage(titleInput.value)'> > </button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let bookDiscount of bookDiscounts" [class.selected]="bookDiscount === selectedBookDiscount">
          <book-discount-detail [style.display]="getStyle(bookDiscount)" [bookDiscount]="selectedBookDiscount"></book-discount-detail>
          <div (click)="onSelect(bookDiscount)">
            <span class="badge">{{bookDiscount.id}}</span> {{bookDiscount.bookView.title}} <span class="badge-price"> {{bookDiscount.price}} PLN</span>
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
