.range-slider-label {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 3px;
  margin-right: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
  }
}

.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.bookDiscounts {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 35em;
  float: left;
}
.bookDiscounts li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .6em;
  padding: .4em 0;
  padding-right: 5em;
  height: 4.4em;
  border-radius: 4px;
  word-wrap: break-word;
}
.bookDiscounts li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.bookDiscounts li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.bookDiscounts .text {
  position: relative;
  left: -20px;
}
.bookDiscounts .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  top: -7px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.bookDiscounts .badge-price {
display: inline-block;
font-size: small;
color: white;
padding: 0.8em 0.7em 0 0.7em;
background-color: #607D7B;
line-height: 1em;
position: absolute;
right: 0px;
top: 0px;
height: 1.9em;
min-width: 5em;
border-radius: 0 4px 4px 0;
}
