
# Created by Tymek

#ignore unnecessary .js files
package-lock.json
/src/app/*.js
/src/app/*.map
/src/app/model/*.js
/src/app/model/*.js.map
/src/app/component/**/*.js.map
/src/app/component/**/*.js
/src/app/service/bookService/*.js.map
/src/app/service/bookService/*.js
/src/app/service/sortService/*.js.map
/src/app/service/sortService/*.js

/node_modules/*

# End of .gitignore
